.sidebar_container {
	height: 100vh;
	position: fixed;
	display: flex;
	left: 0;
	top: 0;
	background: var(--header-bg);
	width: var(--nav-bar-width);
	padding-top: 75px;
	z-index: 5;
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.nav_element {
			width: 100%;
			height: auto;
			padding: 15px 0;
			cursor: pointer;
			display: flex;
			justify-content: center;
			position: relative;
			z-index: 5;
			.nav {
				width: 40%;
			}
		}
	}
}
