.not_found_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	padding-top: 25px;
	p {
		font-size: 80px;
	}
	.not_found_emoji {
		max-width: 120px;
		height: auto;
		aspect-ratio: 1;
	}
}
