.demo_logo_container {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	cursor: pointer;
	.logo {
		transition: 0.5s stroke;
		stroke: var(--bright-secondary);
	}
	.enabled {
		.logo {
			stroke: var(--bright-primary);
		}
	}
}
.demo_logo_container:hover {
	.logo {
		stroke: var(--bright-primary);
	}
}
