.player_stats_logo_container {
	width: 90%;
	height: auto;
	aspect-ratio: 1;
	cursor: pointer;
	.logo {
		transition: 0.5s fill;
		fill: var(--bright-secondary);
	}
	.enabled {
		.logo {
			fill: var(--bright-primary);
		}
	}
}
.player_stats_logo_container:hover {
	.logo {
		fill: var(--bright-primary);
	}
}
